---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About Me</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/IMG_4324.png" alt="Home" width="100%">
  </div>
</div>

<!--
{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5"> Some kind of page title</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>subtitle</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.firsttab.paragraphone %}
          <p class="fw-bold">{{ section.top }}</p>
          <p>{{ section.lvlone }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
-->