---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Completed Research Projects</h3>
    <div class="mb-5">
      {% for section in site.data.projects.summer-2024 %}
            <p class="fw-bold">{{ section.title }}</p>
            <p>{{ section.description }}</p>
            <div style="text-align: center;">
              <img src="{{ site.github.url }}/assets/img/{{ section.pic }}" width="50%">
            </div>
      {% endfor %}
    </div>
    <div class="mb-5">
      {% for section in site.data.projects.summer-2025 %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>{{ section.description }}</p>
        <div style="text-align: center;">
          <img src="{{ site.github.url }}/assets/img/{{ section.pic }}" width="50%">
        </div>
      {% endfor %}
    </div>
  </div>
</div>
